.word-up {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  margin-top: 20px;
}

.guess-form {
  margin-top: 20px;
}

.guess-results {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.guess-results__list {
  flex-basis: 50%;
  flex-grow: 1;
}

.guess-results__list h5,
.guess-results__item p {
  animation: fadein 0.75s;
}

.hint-container {
  margin-top: 20px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}